<section class="wrapper-home upcoming-events home-section">
  <div class="row">
    <h2 class="section-heading"><%= t("decidim.meetings.content_blocks.upcoming_events.upcoming_events") %></h2>
    <div class="row">
      <div class="columns medium-6">
        <% upcoming_events.first(4).each do |event| %>
          <%= card_for event, size: :s %>
        <% end %>
      </div>
      <div class="columns medium-6">
        <%= image_pack_tag("media/images/Kartenersatz.jpg", alt: "") %>
      </div>
    </div>
  </div>
</section>
