<section class="extended home-section" id="html-block">
  <img src="/FreiwG_Prozessinfo.png" alt="Grafik über den Ablauf des Beteiligungsprozesses" longdesc="#longdesc">
  <div class="infographik">
    <div id="longdesc" class="sr_only">
      <h1>ABLAUF</h1>
      <h2>Reden Sie mit</h2>
      <h3>Zivilgesselschafltiche Empfehlungen zur Freiwilligenpolitik</h3>
      <ol>
        <li>Wissenschaftliche Evaluierung: Erarbeitung von 10 Empfehlungen zur Novellierung des Freiwilligengesetzes mittels u.a. xx Interviews</li>
        <li>Kick-Off: Veranstaltung zur Präsentation und Diskussion der 10 erarbeiteten Empfehlungen.</li>
        <li>Online-Diskussion: Online-Diskussion und Vertiefung der erarbeiteten Empfehlungen.</li>
        <li>Bewertung: Bewertung und Reihung der überarbeiteten Empfehlungen.</li>
        <li>Videokonferenz: Präsentation der Ergebnisse und weiteres Vorgehen.</li>
        <li>Bericht: Abschlussbericht für Ministerium und Nationalrat.</li>
      </ol>
    </div>  
  </div>
  <div class="home_htmlcontent">
    <%= html_content %>
  </div>
</section>